.ant-carousel .slick-slide {
    text-align: center;
    height: 560px;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: black;
}
/*#find_me{*/
    /*position: relative;*/
    /*top: 0;*/
    /*display: inline;*/
/*}*/