<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="format_sql">true</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/j2ee_mycourses?serverTimezone=GMT%2B8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">mysql2019</property>
        <property name="connection.autocommit">false</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="com.j2ee.mycourses.entity.StudentEntity"/>
        <mapping class="com.j2ee.mycourses.entity.TeacherEntity"/>
        <mapping class="com.j2ee.mycourses.entity.AssignmentEntity"/>
        <mapping class="com.j2ee.mycourses.entity.CommentEntity"/>
        <mapping class="com.j2ee.mycourses.entity.CourseEntity"/>
        <mapping class="com.j2ee.mycourses.entity.ForumEntity"/>
        <mapping class="com.j2ee.mycourses.entity.ReleasementEntity"/>
        <mapping class="com.j2ee.mycourses.entity.ReportCardEntity"/>
        <mapping class="com.j2ee.mycourses.entity.ReportCardItem"/>
        <mapping class="com.j2ee.mycourses.entity.SlideEntity"/>
    </session-factory>
</hibernate-configuration>
